@charset 'utf-8';
@import 'iconfont';
html, body {
  height: 100%;
}
body {
  color: $color-text;
  background-color: $color-background;
  touch-action: manipulation; /* passive */
}
/* preview image */
img {
  &[lazy="loading"] {
    @include bg-image('~assets/img/logo');
  }
  &[lazy="error"] {
    @include bg-image('~assets/img/no-result');
  }
}
