/* 背景图片 */
@mixin bg-image($url, $extension: 'png') {
  background-image: url($url + '@2x.' + $extension);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  [data-dpr="3"] & {
    background-image: url($url + '@3x.' + $extension);
  }
}

/* 单行文本超出省略 */
@mixin ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 字体间距 */
@mixin space($size){
  text-indent: $size;
  letter-spacing: $size;
}

/* 弹性布局 */
@mixin flex($f-dType,$j-cType:center,$a-iType:center){
  display: flex;
  flex-direction: $f-dType;
  justify-content: $j-cType;
  align-items: $a-iType;
}

/* 扩展点击区域 */
@mixin extend-click($hor: -.2rem, $ver: -.2rem) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: $ver;
    left: $hor;
    right: $hor;
    bottom: $ver;
  }
}

@mixin border($width, $color, $directions, $radius: 0, $style: solid) {
  $directions: top right bottom left !default;
  position: relative;
  &::before {
    pointer-events: none;
    box-sizing: border-box;
    z-index: 1;
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    border-radius: $radius;
    @each $dir in $directions {
      border-#{$dir}: $width + px $style $color;
    }
    [data-dpr="1"] & {
      width: 100%;
      height: 100%;
    }
    [data-dpr="2"] & {
      width: 200%;
      height: 200%;
      transform: scale(($width / 2));
    }
    [data-dpr="3"] & {
      width: 300%;
      height: 300%;
      transform: scale(($width / 3));
    }
  }
}
